In [42]:
import xarray as xr

In [44]:
xdf = xr.open_dataset('../data/processed/augment_10_5/train_filter_vi_fill_smooth.nc')
xdf = xdf.set_coords(['Latitude', 'Longitude', 'District', 'Date of Harvest', 'Rice Crop Intensity(D=Double, T=Triple)', 'Field size (ha)', 'Rice Yield (kg/ha)'])
xdf = xdf.drop(['time', 'Season(SA = Summer Autumn, WS = Winter Spring)'])

In [47]:
df = xdf.to_dataframe().reset_index()

In [51]:
df.drop(columns='ts_id')

,state_dev,District,Date of Harvest,"Rice Crop Intensity(D=Double, T=Triple)",ndvi,savi,evi,rep,osavi,rdvi,mtvi1,lswi,Latitude,Longitude,Field size (ha),Rice Yield (kg/ha)
0,23,Chau_Phu,15-07-2022,T,0.188983,1.094483,1.688525,710.417542,0.188978,14.826489,1657.177490,0.066758,10.510542,105.248554,3.4,5500.0
1,22,Chau_Phu,15-07-2022,T,0.272829,1.136403,0.425410,711.781250,0.272821,21.340355,2466.054199,0.114132,10.510542,105.248554,3.4,5500.0
2,21,Chau_Phu,15-07-2022,T,0.344520,1.172246,2.188946,715.263428,0.344512,27.589178,3362.431885,0.162892,10.510542,105.248554,3.4,5500.0
3,20,Chau_Phu,15-07-2022,T,0.406485,1.203227,5.030591,719.405823,0.406475,33.301155,4229.906250,0.207943,10.510542,105.248554,3.4,5500.0
4,19,Chau_Phu,15-07-2022,T,0.459924,1.229944,7.527463,723.121338,0.459913,38.227299,4977.172852,0.245244,10.510542,105.248554,3.4,5500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133675,4,Thoai_Son,13-04-2022,T,0.246266,1.123108,4.289999,NaN,0.246250,11.698314,763.171936,0.093473,10.304295,105.270460,2.3,7200.0
133676,3,Thoai_Son,13-04-2022,T,0.192808,1.096386,1.873659,NaN,0.192796,10.329441,785.216309,0.042444,10.304295,105.270460,2.3,7200.0
133677,2,Thoai_Son,13-04-2022,T,0.170926,1.085451,-1.228057,NaN,0.170919,11.082921,1033.284302,0.042227,10.304295,105.270460,2.3,7200.0
133678,1,Thoai_Son,13-04-2022,T,0.177675,1.088827,-2.322604,NaN,0.177668,12.293945,1159.227173,0.138129,10.304295,105.270460,2.3,7200.0
133679,0,Thoai_Son,13-04-2022,T,0.204019,1.101993,2.514568,NaN,0.204009,11.415460,662.936401,0.385774,10.304295,105.270460,2.3,7200.0